## Import Libraries

In [1]:
import sys
import numpy as np 
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json # library to handle JSON files
from geopy.geocoders import Nominatim 
import requests
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

In [2]:
from collections import defaultdict

venues = defaultdict(list)
categories = {}
coordinates = []


pf = pd.read_csv('./dataset_tsmc2014/dataset_TSMC2014_NYC.txt', sep='\t',engine='python')
# with open('./dataset_tsmc2014/dataset_TSMC2014_NYC.txt') as nyc_data:
#     for venue in nyc_data.readlines():
#         data = venue.split('\t')

In [3]:
pf.head(5)

,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810375488535,-74.00258103213994,-240,Tue Apr 03 18:00:09 +0000 2012
0,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
1,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
2,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
3,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012
4,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,Tue Apr 03 18:04:00 +0000 2012

In [4]:
# Assign directly to the columns 
pf.columns = ['User ID','Venue ID','Venue Category ID','Venue Category Name','Latitude','Longitude','Timezone','UTC']

In [5]:
pf.head(5)

,User ID,Venue ID,Venue Category ID,Venue Category Name,Latitude,Longitude,Timezone,UTC
0,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
1,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
2,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
3,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012
4,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,Tue Apr 03 18:04:00 +0000 2012

In [6]:
# get the coordinate for the shop
for indx,data in enumerate(pf):
    coordinates.append([pf['Latitude'][indx],pf['Longitude'][indx]])

In [7]:
coordinates

[[40.606799581406435, -74.04416981025437],
 [40.71616168484322, -73.88307005845945],
 [40.7451638, -73.982518775],
 [40.74010382743943, -73.98965835571289],
 [40.69042711809854, -73.954686775096],
 [40.75159143134631, -73.9741214009634],
 [40.77942173066975, -73.95534113280371],
 [40.61915106755737, -74.03588760058483]]

In [ ]:
# We don't care about the Venue Category ID, Timezone,UTC, we drop this column
pf.drop(['Venue Category ID','Timezone','UTC'], axis=1)