For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:
3. To create the above dataframe:
 * The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

 * Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [1]:
# Import the pandas library
import pandas as pd 

# Use read_html method of pandas to get the table
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)

<b>[TODO]</b> The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [2]:
# Define the headinds or name of three columns for our table
headings = ['Postcode','Borough','Neighbourhood']

In [3]:
# Finally get the dataframe table
for table in tables:
    current_headings = table.columns.values[:4]
    if all(current_headings == headings):
        break

In [4]:
# Sho the first 5 results
table.head(5)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
print ("Before")
print (table.head(10))

Before
  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A         Etobicoke  Islington Avenue

<b>[TODO]</b> Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [6]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
for indx,data in enumerate(table['Borough']):
    if data == "Not assigned":
        table = table.drop([indx],axis=0)
# we need to reset index after dropping rows
table.reset_index(inplace = True)

In [7]:
# Sho the first 5 results
table.head(5)

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M6A        North York  Lawrence Heights
4      6      M6A        North York    Lawrence Manor

<b>[TODO]</b> More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table

In [8]:
# resetting index 
table.reset_index(inplace = True) 

# get the unique Postcode
df_postcode_unique = table['Postcode'].unique()

# Create dictionary of list
post_code_dict = {}

# create an temporal dictionry to hold postal code and neighboorhoods
for code in df_postcode_unique:
    if code not in post_code_dict.keys():
        post_code_dict[code] = []

# update the neighboorhoods into post_code_dict
for indx,data in enumerate(table['Postcode']):
    if len(post_code_dict[data]) == 0:
        post_code_dict[data].append(table['Borough'][indx])
        post_code_dict[data].append(table['Neighbourhood'][indx])
    else:
        post_code_dict[data].append(table['Neighbourhood'][indx])
    

# prepare the data for creating dataFrame 
data = []
for key, value in post_code_dict.items():
    listToStr = ', '.join([str(elem) for elem in value[1:]]) 
    data.append([key,value[0],listToStr])
final_df = pd.DataFrame(data,columns = ['Postcode','Borough','Neighbourhood'])

<b>[TODO]</b> If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [9]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
for indx,data in enumerate(table['Neighbourhood']):
    if data == "Not assigned":
        data = table['Borough'][indx]

In [10]:
print ("After")
print (final_df.head(10))

After
  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park
5      M9A         Etobicoke                  Islington Avenue
6      M1B       Scarborough                    Rouge, Malvern
7      M3B        North York                   Don Mills North
8      M4B         East York   Woodbine Gardens, Parkview Hill
9      M5B  Downtown Toronto          Ryerson, Garden District

<b>[TODO]</b> In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [11]:
print (final_df.shape)

(103, 3)

In [13]:
# Export to csv file
final_df.to_csv('part1.csv')