In [1]:
import pandas as pd

geo_df = pd.read_csv('Geospatial_Coordinates.csv')

In [2]:
geo_df

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [3]:
postal_code_df = pd.read_csv('part1.csv')

In [4]:
postal_code_df

,Unnamed: 0,Postcode,Borough,Neighbourhood
0,0,M3A,North York,Parkwoods
1,1,M4A,North York,Victoria Village
2,2,M5A,Downtown Toronto,Harbourfront
3,3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,4,M7A,Downtown Toronto,Queen's Park
...,...,...,...,...
98,98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,99,M4Y,Downtown Toronto,Church and Wellesley
100,100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
102,102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

geo_df['Postal Code'] == 'M3A'

postal_code_df.loc[]

In [18]:
lat_list = []
long_list = []
for indx,data in enumerate(postal_code_df['Postcode']):
    lat = geo_df.loc[geo_df['PostalCode'] == data,'Latitude'].iloc[0]
    long = geo_df.loc[geo_df['PostalCode'] == data,'Longitude'].iloc[0]
    lat_list.append(lat)
    long_list.append(long)

In [21]:
# Append the columns Latitude into postal_code_df
postal_code_df['Latitude'] = lat_list
postal_code_df['Longitude'] = long_list

In [22]:
postal_code_df

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M3A,North York,Parkwoods,43.753259,-79.329656
1,1,M4A,North York,Victoria Village,43.725882,-79.315572
2,2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
...,...,...,...,...,...,...
98,98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
101,101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.636258,-79.498509
102,102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.628841,-79.520999